<!DOCTYPE html> 
<html>
  <head>
    <title>Dogecoin</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="stylesheets/bootstrap-responsive.css" rel="stylesheet">
  </head>
  <body>
   
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Profzone xGame</a>
          <div class="nav-collapse"> 
            <ul class="nav"> 
              <li><a href="/">首页</a></li> 
              <li class="active"><a href="/login">登入</a></li> 
              <li><a href="/register"> 注册</a></li> 
            </ul> 
          </div> 
        </div> 
      </div> 
    </div> 
 
    <div id="container" class="container">
      
    	<hr /> 
		<footer>
			<p><a href="http://www.profzone.net/" target="_blank">Profzone.johnnyeven</a> 2014</p>
		</footer>
    </div>
  </body>
  <script src="/javascripts/jquery.min.js"></script> 
  <script src="/javascripts/bootstrap.js"></script> 
</html>